In [3]:
import sqlite3 as sq

def abfrage(sql):
    '''
    sql: String mit SQL-Anweisung
    returns: None, printed die Ergebniszeilen
    '''
    connection = sq.connect("chinook.db")  
    cursor = connection.cursor()
    
    cursor.execute(sql)
    connection.commit()
    if sql.upper().strip().startswith("SELECT"):      # die namen der felder ausgeben
        cols =  [x[0] for x in cursor.description]
        n = sum([len(x) for x in cols])+len(cols)
        print(*cols)
        print('-'*n)

    for zeile in cursor:
        print(*zeile)
    connection.close()

<img src="chinook.png">

<img src='cardinality.png' width="400">

In [4]:
# Liste Vorname und Name der Angestellten, absteigend nach Alter sortiert
query = """
SELECT firstname, lastname FROM employees
ORDER BY birthdate
"""
abfrage(query)

FirstName LastName
-------------------
Margaret Park
Nancy Edwards
Andrew Adams
Steve Johnson
Laura Callahan
Robert King
Michael Mitchell
Jane Peacock

Which countries have the most Invoices? Use the Invoice table to determine the countries that have the most invoices. Provide a table of BillingCountry and Invoices ordered by the number of invoices for each country. The country with the most invoices should appear first.r

In [7]:
# Liste die Länder mit der Anzahl ihrer Rechnungen, absteigend sortiert nach Anzahl Rechnungen
query = """
SELECT billingcountry, count(invoiceid) FROM invoices
GROUP BY 1 ORDER BY 2 DESC
"""
abfrage(query)

BillingCountry count(invoiceid)
--------------------------------
USA 91
Canada 56
France 35
Brazil 35
Germany 28
United Kingdom 21
Portugal 14
Czech Republic 14
India 13
Sweden 7
Spain 7
Poland 7
Norway 7
Netherlands 7
Italy 7
Ireland 7
Hungary 7
Finland 7
Denmark 7
Chile 7
Belgium 7
Austria 7
Australia 7
Argentina 7

Which city has the best customers? We would like to throw a promotional Music Festival in the city we made the most money. Write a query that returns the 1 city that has the highest sum of invoice totals. Return both the city name and the sum of all invoice totals.

In [12]:
# Welche Stadt hat in der die besten Kunden? Gib die Stadt aus und die Summe der Rechnungen aller Kunden dieser Stadt.
query = """
SELECT billingcity,
SUM(total)
FROM invoices
GROUP BY 1
ORDER BY 2 DESC LIMIT 1
"""
abfrage(query)

BillingCity SUM(total)
-----------------------
Prague 90.24000000000001

Who is the best customer? The customer who has spent the most money will be declared the best customer. Build a query that returns the person who has spent the most money. I found the solution by linking the following three: Invoice, InvoiceLine, and Customer tables to retrieve this information, but you can probably do it with fewer!

In [18]:
# Wie heißt der beste Kunde (= der mit der höchsten Rechnungssumme)?
query = """
SELECT c.firstname, c.lastname,
SUM(i.total)
FROM customers c
JOIN invoices i ON c.customerid = i.customerid
GROUP BY 1
ORDER BY 2 DESC LIMIT 1
"""
abfrage(query)

FirstName LastName SUM(i.total)
--------------------------------
Fynn Zimmermann 43.62

In [29]:
# Liste email, name und genre aller Kunden, die Rock-Musik hören, alphabetisch nach der email-Adresse sortiert.
query = """
SELECT DISTINCT c.email,
    c.firstname,
    c.lastname,
    g.name
    FROM customers c
    JOIN invoices i ON c.customerid = i.customerid
    JOIN invoice_items ii ON ii.invoiceitemid = i.invoiceid
    JOIN tracks t ON ii.trackid = t.trackid
    JOIN genres g ON t.genreid = g.genreid
    WHERE g.name = 'Rock'
    ORDER BY 1;
"""
abfrage(query)

Email FirstName LastName Name
------------------------------
aaronmitchell@yahoo.ca Aaron Mitchell Rock
alero@uol.com.br Alexandre Rocha Rock
astrid.gruber@apple.at Astrid Gruber Rock
bjorn.hansen@yahoo.no Bjørn Hansen Rock
camille.bernard@yahoo.fr Camille Bernard Rock
daan_peeters@apple.be Daan Peeters Rock
diego.gutierrez@yahoo.ar Diego Gutiérrez Rock
dmiller@comcast.com Dan Miller Rock
dominiquelefebvre@gmail.com Dominique Lefebvre Rock
edfrancis@yachoo.ca Edward Francis Rock
eduardo@woodstock.com.br Eduardo Martins Rock
ellie.sullivan@shaw.ca Ellie Sullivan Rock
emma_jones@hotmail.com Emma Jones Rock
enrique_munoz@yahoo.es Enrique Muñoz Rock
fernadaramos4@uol.com.br Fernanda Ramos Rock
fharris@google.com Frank Harris Rock
fralston@gmail.com Frank Ralston Rock
frantisekw@jetbrains.com František Wichterlová Rock
ftremblay@gmail.com François Tremblay Rock
fzimmermann@yahoo.de Fynn Zimmermann Rock
hannah.schneider@yahoo.de Hannah Schneider Rock
hholy@gmail.com Helena Holý Rock
hleacock@gmail.com Heather Leacock Rock
hughoreilly@apple.ie Hugh O'Reilly Rock
isabelle_mercier@apple.fr Isabelle Mercier Rock
jacksmith@microsoft.com Jack Smith Rock
jenniferp@rogers.ca Jennifer Peterson Rock
jfernandes@yahoo.pt João Fernandes Rock
joakim.johansson@yahoo.se Joakim Johansson Rock
johavanderberg@yahoo.nl Johannes Van der Berg Rock
johngordon22@yahoo.com John Gordon Rock
jubarnett@gmail.com Julia Barnett Rock
kachase@hotmail.com Kathy Chase Rock
kara.nielsen@jubii.dk Kara Nielsen Rock
ladislav_kovacs@apple.hu Ladislav Kovács Rock
leonekohler@surfeu.de Leonie Köhler Rock
lucas.mancini@yahoo.it Lucas Mancini Rock
luisg@embraer.com.br Luís Gonçalves Rock
luisrojas@yahoo.cl Luis Rojas Rock
manoj.pareek@rediff.com Manoj Pareek Rock
marc.dubois@hotmail.com Marc Dubois Rock
mark.taylor@yahoo.au Mark Taylor Rock
marthasilk@gmail.com Martha Silk Rock
masampaio@sapo.pt Madalena Sampaio Rock
michelleb@aol.com Michelle Brooks Rock
mphilips12@shaw.ca Mark Philips Rock
nschroder@surfeu.de Niklas Schröder Rock
patrick.gray@aol.com Patrick Gray Rock
phil.hughes@gmail.com Phil Hughes Rock
puja_srivastava@yahoo.in Puja Srivastava Rock
ricunningham@hotmail.com Richard Cunningham Rock
robbrown@shaw.ca Robert Brown Rock
roberto.almeida@riotur.gov.br Roberto Almeida Rock
stanisław.wójcik@wp.pl Stanisław Wójcik Rock
steve.murray@yahoo.uk Steve Murray Rock
terhi.hamalainen@apple.fi Terhi Hämäläinen Rock
tgoyer@apple.com Tim Goyer Rock
vstevens@yahoo.com Victor Stevens Rock
wyatt.girard@yahoo.fr Wyatt Girard Rock

In [35]:
# Liste die Namen aller Künstler zusammen mit Anzahl der verfügbaren tracks
query = """
SELECT ar.name, COUNT(t.name)
    FROM tracks t
    JOIN genres g ON t.genreid = g.genreid
    JOIN albums al ON al.albumid = t.albumid
    JOIN artists ar ON ar.artistid = al.artistid
    WHERE g.name = 'Rock'
    GROUP BY 1
    ORDER BY 2 DESC
"""
abfrage(query)

Name COUNT(t.name)
-------------------
Led Zeppelin 114
U2 112
Deep Purple 92
Iron Maiden 81
Pearl Jam 54
Van Halen 52
Queen 45
The Rolling Stones 41
Creedence Clearwater Revival 40
Kiss 35
Foo Fighters 33
Red Hot Chili Peppers 31
The Cult 30
Lenny Kravitz 30
Nirvana 29
Guns N' Roses 28
Santana 27
Skank 23
The Who 20
Ozzy Osbourne 18
AC/DC 18
Soundgarden 17
Jimi Hendrix 17
Def Leppard 16
O Terço 15
Faith No More 15
Aerosmith 15
The Police 14
Rush 14
Raul Seixas 14
R.E.M. 14
Audioslave 14
Velvet Revolver 13
Alanis Morissette 13
Stone Temple Pilots 12
Scorpions 12
Page & Plant 12
David Coverdale 12
Alice In Chains 12
The Doors 11
Paul D'Ianno 10
Men At Work 10
Marillion 10
Joe Satriani 10
Jamiroquai 10
Pink Floyd 9
Frank Zappa & Captain Beefheart 9
Terry Bozzio, Tony Levin & Steve Stevens 7
Accept 4
The Posies 2
Dread Zeppelin 1

In [ ]:
query = """
SELECT t.name 
FROM tracks t




WHERE ar.name = 'Led Zeppelin'
"""
abfrage(query)

In [42]:
# Welche Medientypen gibt es?
query = """
SELECT DISTINCT name FROM media_types
"""
abfrage(query)

Name
-----
MPEG audio file
Protected AAC audio file
Protected MPEG-4 video file
Purchased AAC audio file
AAC audio file

In [45]:
# Wieviele verschiedene Komponisten gibt es?
query = """
SELECT DISTINCT count(composer) FROM tracks
"""
abfrage(query)

count(composer)
----------------
2525

In [48]:
# Welche Genre gibt es, alphabetisch sortiert?
query = """
SELECT name FROM genres ORDER BY name
"""
abfrage(query)

Name
-----
Alternative
Alternative & Punk
Blues
Bossa Nova
Classical
Comedy
Drama
Easy Listening
Electronica/Dance
Heavy Metal
Hip Hop/Rap
Jazz
Latin
Metal
Opera
Pop
R&B/Soul
Reggae
Rock
Rock And Roll
Sci Fi & Fantasy
Science Fiction
Soundtrack
TV Shows
World

In [55]:
# Wieviele tracks gibt es pro genre, absteigend sortiert nach der anzahl der tracks
query = """
SELECT g.name, count(g.name)
FROM genres g
JOIN tracks t ON g.genreid = t.genreid
GROUP BY g.name ORDER BY count(g.name) DESC
"""
abfrage(query)

Name count(g.name)
-------------------
Rock 1297
Latin 579
Metal 374
Alternative & Punk 332
Jazz 130
TV Shows 93
Blues 81
Classical 74
Drama 64
R&B/Soul 61
Reggae 58
Pop 48
Soundtrack 43
Alternative 40
Hip Hop/Rap 35
Electronica/Dance 30
World 28
Heavy Metal 28
Sci Fi & Fantasy 26
Easy Listening 24
Comedy 17
Bossa Nova 15
Science Fiction 13
Rock And Roll 12
Opera 1

In [73]:
# Liste alle Alben mit klassischer Musik, die 'Mozart' im Titel haben
query = """
SELECT DISTINCT al.title
FROM albums al
JOIN tracks t ON al.albumid = t.albumid
JOIN genres g ON g.genreid = t.genreid
WHERE g.name = 'Classical' and al.title LIKE '%Mozart%'
"""
abfrage(query)

Title
------
Mozart: Wind Concertos
Mozart: Symphonies Nos. 40 & 41
Mozart: Chamber Music

In [81]:
# Liste alle Alben von Led-Zeppelin, alphabetisch sortiert
query = """
SELECT al.title 
FROM albums al
JOIN artists ar ON al.artistid = ar.artistid  
WHERE ar.name = 'Led Zeppelin'
ORDER BY al.title
"""
abfrage(query)

Title
------
BBC Sessions [Disc 1] [Live]
BBC Sessions [Disc 2] [Live]
Coda
Houses Of The Holy
IV
In Through The Out Door
Led Zeppelin I
Led Zeppelin II
Led Zeppelin III
Physical Graffiti [Disc 1]
Physical Graffiti [Disc 2]
Presence
The Song Remains The Same (Disc 1)
The Song Remains The Same (Disc 2)

In [104]:
# Liste alle verfügbaren Staffeln der Serie 'Lost' 
query = """
SELECT DISTINCT al.title 
FROM tracks t
JOIN media_types m ON m.mediatypeid = t.mediatypeid
JOIN albums al ON al.albumid = t.albumid
WHERE m.name = 'Protected MPEG-4 video file'  and al.title LIKE 'Lost%'
ORDER BY al.title
"""
abfrage(query)

Title
------
LOST, Season 4
Lost, Season 1
Lost, Season 2
Lost, Season 3

In [41]:
query = """
SELECT DISTINCT c.firstname, c.lastname, c.email, g.name FROM customers c
JOIN invoices i ON c.customerid = i.customerid
JOIN invoice_items ii ON i.invoiceid = ii.invoiceid
JOIN tracks t ON ii.trackid = t.trackid
JOIN genres g ON t.genreid = g.genreid
WHERE g.name = 'Rock' ORDER BY c.email
"""
abfrage(query)

FirstName LastName Email Name
------------------------------
Aaron Mitchell aaronmitchell@yahoo.ca Rock
Alexandre Rocha alero@uol.com.br Rock
Astrid Gruber astrid.gruber@apple.at Rock
Bjørn Hansen bjorn.hansen@yahoo.no Rock
Camille Bernard camille.bernard@yahoo.fr Rock
Daan Peeters daan_peeters@apple.be Rock
Diego Gutiérrez diego.gutierrez@yahoo.ar Rock
Dan Miller dmiller@comcast.com Rock
Dominique Lefebvre dominiquelefebvre@gmail.com Rock
Edward Francis edfrancis@yachoo.ca Rock
Eduardo Martins eduardo@woodstock.com.br Rock
Ellie Sullivan ellie.sullivan@shaw.ca Rock
Emma Jones emma_jones@hotmail.com Rock
Enrique Muñoz enrique_munoz@yahoo.es Rock
Fernanda Ramos fernadaramos4@uol.com.br Rock
Frank Harris fharris@google.com Rock
Frank Ralston fralston@gmail.com Rock
František Wichterlová frantisekw@jetbrains.com Rock
François Tremblay ftremblay@gmail.com Rock
Fynn Zimmermann fzimmermann@yahoo.de Rock
Hannah Schneider hannah.schneider@yahoo.de Rock
Helena Holý hholy@gmail.com Rock
Heather Leacock hleacock@gmail.com Rock
Hugh O'Reilly hughoreilly@apple.ie Rock
Isabelle Mercier isabelle_mercier@apple.fr Rock
Jack Smith jacksmith@microsoft.com Rock
Jennifer Peterson jenniferp@rogers.ca Rock
João Fernandes jfernandes@yahoo.pt Rock
Joakim Johansson joakim.johansson@yahoo.se Rock
Johannes Van der Berg johavanderberg@yahoo.nl Rock
John Gordon johngordon22@yahoo.com Rock
Julia Barnett jubarnett@gmail.com Rock
Kathy Chase kachase@hotmail.com Rock
Kara Nielsen kara.nielsen@jubii.dk Rock
Ladislav Kovács ladislav_kovacs@apple.hu Rock
Leonie Köhler leonekohler@surfeu.de Rock
Lucas Mancini lucas.mancini@yahoo.it Rock
Luís Gonçalves luisg@embraer.com.br Rock
Luis Rojas luisrojas@yahoo.cl Rock
Manoj Pareek manoj.pareek@rediff.com Rock
Marc Dubois marc.dubois@hotmail.com Rock
Mark Taylor mark.taylor@yahoo.au Rock
Martha Silk marthasilk@gmail.com Rock
Madalena Sampaio masampaio@sapo.pt Rock
Michelle Brooks michelleb@aol.com Rock
Mark Philips mphilips12@shaw.ca Rock
Niklas Schröder nschroder@surfeu.de Rock
Patrick Gray patrick.gray@aol.com Rock
Phil Hughes phil.hughes@gmail.com Rock
Puja Srivastava puja_srivastava@yahoo.in Rock
Richard Cunningham ricunningham@hotmail.com Rock
Robert Brown robbrown@shaw.ca Rock
Roberto Almeida roberto.almeida@riotur.gov.br Rock
Stanisław Wójcik stanisław.wójcik@wp.pl Rock
Steve Murray steve.murray@yahoo.uk Rock
Terhi Hämäläinen terhi.hamalainen@apple.fi Rock
Tim Goyer tgoyer@apple.com Rock
Victor Stevens vstevens@yahoo.com Rock
Wyatt Girard wyatt.girard@yahoo.fr Rock

In [106]:
# Wieviele Rechnungen wurden bisher ausgestellt?
query = """
SELECT count(invoiceid) FROM invoices 
"""
abfrage(query)

count(invoiceid)
-----------------
412

In [116]:
# Liste alle Rechnungen an 'Emma Jones'
query = """
SELECT sum(i.total), count(i.total), min(i.total), max(i.total), avg(i.total)
FROM invoices i
JOIN customers c ON c.customerid = i.customerid
WHERE c.firstname = 'Emma' and c.lastname = 'Jones'
"""
abfrage(query)

sum(i.total) count(i.total) min(i.total) max(i.total) avg(i.total)
-------------------------------------------------------------------
37.620000000000005 7 0.99 13.86 5.3742857142857146