### Aufgaben zu Datenbanken

Hinweis: Zur vereinfachten Darstellung werden in einem Datenbankschema die Primärschlüssel **fett** und die Fremdschlüssel *kursiv* gedruckt.

**A1 Lösung:**

a. Unter Redundanz versteht man das mehrmalige Speichern von gleichen Daten. Dies ist in
der vorgegebenen Tabelle zu erkennen, da z.B. ein Hersteller mehrere Modelle herstellt
und somit Name und Ort mehrfach gespeichert sind.
Bei der Änderung mehrfach gespeicherter Daten kann es zu Fehlern kommen, z.B. bei
einem falschem Eintrag des Herstellernamens oder des Ortes.
Die Daten sind dann inkonsistent.

b. Ausgangspunkt ist die Tabelle

Fahrrad(**FID**, Modell, Gewicht, Preis, Hersteller, Ort)

Das vorgeschlagene Datenbankschema: 
Fahrrad(**FID**, Modell, Gewicht, Preis, *HID­*) <br>
Hersteller(**HID**, Herstellername, *PLZ*) <br>
Ort(**PLZ**,Ortsname)

Es gilt:

Alle Attribute sind atomar (1NF). <br>
Jedes Nichtschlüsselattribut ist eindeutig bestimmt durch den Primärschlüssel (2NF). <br>
Es gibt keine Abhängigkeiten zwischen Nichtschlüsselattributen (3NF).

**A2 Lösung**

a. Dass das Smartphones Sun5 den Hersteller Samson hat, ist mehrfach eingetragen. Die Daten sind redundant. Das Gleiche gilt für die Kundendaten. Dass Maria Lustig in Freiburg wohnt, ist mehrfach eingetragen. Wird nur eine dieser Stellen aktualisiert (z.B bei Umzug), sind die Daten inkonsistent.
Der Name ist nicht atomar, die Kunden lassen sich dadurch z.B. nur schwer nach Nachnamen sortieren.


b.

Zwischen den Entitäten Smartphone und Kunde besteht eine n:m-Beziehung. Diese wird aufgelöst durch die Tabelle *erwirbt*.

Smartphone(**SID**, Hersteller, Bezeichnung) <br>
Kunde(**KID**,Vorname, Nachname, Ort) <br>
erwirbt(*KID*,*SID*, Preis, Kaufdatum)

**A3 Lösung:**

a. 
```
SELECT count(*) FROM Mitglied
```

b.
```
SELECT m.Name, m.Vorname, o.ortsname FROM Mitglied m
JOIN Ort o ON m.plz = o.plz
WHERE o.plz LIKE '68%' OR o.PLZ LIKE '67%'
```


c.
```
SELECT m.Name, m.Vorname, s.Bezeichnung, t.Verguetung FROM Mitglied m
JOIN Trainer t ON t.mid = m.mid
JOIN Sportart s ON s.tid = t.tid
WHERE t.Verguetung >= 80
```

d.

Unterabfrage: Hier wird der Mittelwert des Geburtsjahres aller Mitglieder berechnet.
Hauptabfrage: Nun werden die Namen der Mitglieder ausgegeben, die jünger als der
Mittelwert des Geburtsjahres sind.

**A4 Lösung:**

a. 

```
SELECT Film, Preis
FROM Filme
WHERE Jahr > 2000
```

b. 

<img src='anzahl.png' width='200'>

(Hinweis: die Reihenfolge ist beliebig)

c.

```
SELECT f.Film 
FROM Film f
JOIN bestellt b ON f.FID = b.FID
JOIN Kunde k on k.KID = b.KID
WHERE Zeitpunkt = '2014'
```

d.

```
SELECT k.Land, SUM(b.Anzahl * f.Preis) AS Umsatz
FROM Kunden k
JOIN bestellt b ON k.kid = b.kid
JOIN Film f on f.fid = b.fid
GROUP BY k.Land
```

e. 

Die Spalten FID, KID und Zeitpunkt eignen sich als Primärschlüssel, da diese jeden Datensatz eindeutig identifizieren. Zeitpunkt ist als Schlüsselattribut notwendig, um Mehrfachbestellungen des gleichen Films durch denselben Kunden abzubilden.

**A5 Lösung:**

a. Schauspieler *spielt_in* Film: Ein Schauspieler spielt in mehreren Filmen mit. In einem Film spielen mehrere Schauspieler mit, also Kardinalität n:m. <br>
Firma *produziert* Film: Eine Firma produziert mehrere Filme, aber ein Film wird von einer Firma produziert, also Kardinalität 1:n.

b.
```
SELECT * FROM Film
WHERE Jahr = 2012 AND Genre = "Action"
```

c.
```
SELECT * FROM Film
WHERE Laenge BETWEEN 90 AND 120
```

d.
```
SELECT COUNT(*) AS Anzahl
FROM Film
WHERE Jahr = 2013
```

e. 
```
SELECT f.Titel
FROM Film f
JOIN spielt_in sp ON f.FID = sp.FID
JOIN Schauspieler s ON s.SID = sp.SID
WHERE s.SNachname = "Ford" AND s.SVorname = "Harrison"
ORDER BY f.Jahr DESC
```

**A6 Lösung:**

<img src='loesungA3.png' width='600'>

**A7 Lösung**
(zur vereinfachte Ausgabe sind die Attribute eingerückt notiert, nicht mit Ellipsen)

a.

<img src='baumarktER2.png'>

b.

Erläuterung der Kardinalitäten an den Beziehungen: <br>
*besitzt*: Ein Kunde kann mehrere Karten besitzen, aber jede Karte kann nur von einem Kunden besessen werden, also 1:n Beziehung. <br>
*verwendet für*: Eine Karte kann für mehrere Einkäufe verwendet werden, aber jeder Einkauf verwendet nur Eine Kaurte, also 1:n Beziehung <br>
*besteht aus*: Ein Einkauf kann aus mehreren Artikeln bestehen und ein Artikel an in mehreren Einkaufen vorkommen, also n:m Beziehung.

Erläuterung zu den Einheiten: Ich verstehe die Aufgabe so, dass jeder Artikel sich aus ggf. mehreren Einheiten zusammensetzt, z.B. Schraube ist Einheit und Schraubenset ist ein Artikel.

**A8 Lösung** 
(zur vereinfachte Ausgabe sind die Attribute eingerückt notiert, nicht mit Ellipsen)

<img src='landtagswahl.png'>